html
{
    font-size: 65.5%;
}

@media(max-width:998px)
{
    html
    {
        font-size: 55%;
    }
}

@media(max-width:768px)
{
    html
    {
        font-size: 45%;
    }
}

@media(max-width:500px)
{
    html
    {
        font-size: 40%;
    }
}


.sidebar
{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0.22;
    border: 1px solid lightgrey;
    height: 90vh; 
    overflow-y: hidden;
    position: sticky;
    left: 0;
    background-color: white;
    top: 6.5rem;
}

::-webkit-scrollbar {
    height: 8px;
    width: 2px;
    background: whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-border-radius: 1px;
    -webkit-box-shadow: 0px 1px 2px white;
}

::-webkit-scrollbar-corner {
    background: #000;
}

.sidebar_up , .sidebar_mid , .sidebar_footer
{
    border-bottom: 1px solid lightgrey;
    text-align: left;
    display: flex;
    margin-right: auto;
    flex-direction: column;
    width: 90%;
    padding: .5rem;
    line-height: 4.0rem;
}

.userName
{
    color: grey;
    text-transform: lowercase;
    font-size: 1.8rem;
    text-align: left;
    margin-right: 4.0rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sidebar_up
{
    border-top: 1px solid lightgrey;
}

.sidebar_up ul , .sidebar_mid ul , .sidebar_footer ul
{
    list-style-type: none;
}

.sidebar_up ul li , .sidebar_mid ul li
{
    color: #3C4043;
    font-size: 1.7rem;
    text-decoration:none;
    cursor: pointer;
}

.sidebar_up ul li:hover , .sidebar_mid ul li:hover , .sidebar_footer li:hover
{
    color: rgb(28, 121, 214);
}

.sidebar_up ul li span , .sidebar_mid ul li span 
{
    margin-left: 2.0rem;
    text-decoration: none;
    
}

.sidebar_footer
{
    line-height: 1.9rem;
    padding: 0px .5rem;
}

.sidebar_footer ul li
{
    font-size: 1.5rem;
    color: #3C4043;
    margin-left: 0px;
    cursor: pointer;
}

.footer_data
{
    font-size: 1.4rem;
    font-weight: bold;
    text-shadow: .5px .5px 1px lightgrey;
    text-align: center;
    margin-top: 2.5rem;
    color: gray;

    
}


.active_link:visited
{
    color: dodgerblue;
}